Tony           Yan Chaoming
body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
  }  
   
  header {  
    background-color: #333;  
    color: #fff;  
    padding: 10px;  
  }  
    
  header nav ul {  
    list-style: none;  
    margin: 0;  
    padding: 0;  
    display: flex;  
    justify-content: flex-end;  
  }  
    
  header nav ul li {  
    margin-left: 10px;  
  }  
    
  header nav ul li a {  
    color: #fff;  
    text-decoration: none;  
    padding: 5px 10px;  
    border-radius: 5px;  
    transition: background-color 0.3s ease;  
  }  
  
  /*Product List Style*/
  .product-list {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-around;/*Distribution space*/  
    padding: 20px;  
  }  
    
  /*Individual product styles*/
  .product {  
    flex: 0 0 calc(33.33% - 20px);  
    margin-bottom: 20px; /*The spacing between products*/ 
    text-align: center; 
  } 
  
  
  .center-text {  
    text-align: center;  
  }
  
  .logo img {  
    height: 100px; /*Set the height of the logo*/  
    width: auto;  
  }  

  /*Product image style*/ 
  .product img {  
    width: 100%; 
    height: auto;   
    margin-bottom: 10px; /*The spacing between images and text*/
  }  
   

  .product h3,  
  .product p {  
    margin: 0;   
    padding: 0;  
  }  
    
  .product p {  
    margin-bottom: 5px; /*The gap between description and price*/ 
  }  
    
/*Responsive Style*/
@media (max-width: 600px) {  
    .product-list {  
      flex-direction: column; 
    }  
      
    .product {  
      flex: 1 0 auto; /*Automatically fill the width when the screen is small*/  
      max-width: 100%;  
    }  
  }
 /*Footer Style*/
footer {  
  bottom: 0; 
  width: 100%;  
  background-color: #333;   
  color: #fff; 
  text-align: center;  
  padding: 10px;
  z-index: 1; /*Ensure that the footer is under other content*/  
}

/* style.css */  
  
.text-image-container {  
  display: flex;  
  align-items: center;  
}  

.text {  
  flex: 1;  
}  

.image {  
/*Set the width and height of the image, which can be automatically or manually set*/
  max-width: 50%;   
  height: auto;   
  margin-left: 10px;  
}  
